body {
	margin: 0px;
	padding: 2%;
}

#text-container {
	width: 50%;
}

.text {
	font: large Georgia;
}

.link {
	color: blue;
	cursor: pointer;
}

#header {
	height: 20%;
	color:black;
	text-align:left;
	padding:0px;
}

.jumbo {
	font-size: 5vmax;
	font-weight: bold;
}

.tiny {
	font-size: 1vmax;
}

#brain-container {
	width: 40%;
	padding: 0px;
}

img.resp {
	max-height: 100%;
	max-width:100%;
}

img.centered {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#face-container {
	position: absolute;
	right: 7%;
	top: 0px;
	max-height: 10%;
	max-width: 10%;
}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}

.right {
	float: right;
}


#blurb {
	height: 70%;
	width: 90%;
	padding-top: 0px;
	padding-right: 0%;
	overflow: auto;
}

#blurb h1 {
	font-size: 1.7vmax;
	text-decoration: underline;
}
#blurb p {
	font-size: 1.2vmax;
}
