body {
	background-color: #e6e6fa;
	margin: 0px;
	padding: 2%;
}

#text-container {
	border-radius: 5%;
	width: 45%;
	background-color: white;
	padding: 2%;
}

#title {
	font-family: Georgia, serif;
	padding-left: 1%;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
}

.link {
	color: blue;
	cursor: pointer;
}

#header {
	height: 20%;
	color:black;
	text-align:left;
	padding-top:2%;
}

.jumbo {
	font-size: 5vmax;
	font-weight: bold;
}

.tiny {
	font-size: 1vmax;
}

#brain-container {
	width: 40%;
	padding: 0px;
}

img.resp {
	max-height: 100%;
	max-width:98%;
}

img.centered {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#face-container {
	position: absolute;
	right: 4%;
	top: 2%;
	max-height: 10%;
	max-width: 10%;
}

img[usemap] {
	border: none;
	height: auto;
	max-width: 100%;
	width: auto;
}

.right {
	float: right;
}


#blurb {
	border-style:solid;
	border-width:.3vmax;
	height: 70%;
	width: 100%;
	overflow: auto;
}

#blurb h1 {
	font-size: 1.7vmax;
	text-decoration: underline;
	padding-left:1%;
	padding-right:1%;
}
#blurb p {
	font-size: 1.2vmax;
	padding-left:1%;
	padding-right:1%;
}
